img{
  border-radius: 10px
}

.miniheader {
  display: flex; /*YOU CAN'T GET RID OF THIS!*/
  font-family: 'Comfortaa',cursive;
  padding: 10px;
  padding-right: 50px;
  flex-direction: row-reverse;
  justify-content: space-between;
  background: #CDE534;
}

.miniheader h1 {
  color: #448D76;
}

.productcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 60%; */
  margin: auto;
}

.productrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  color: #093426;
}

.productrow > div {
  flex-grow: 1;
  flex-basis: 0;
  /* background-color: white; */
  margin: 50px;
  padding: auto;
  text-align: center;
  /* color: #093426; this line messed up the color inheritance. learn your lesson >:( */
}

.productrow img {
  margin: 50px;
  object-fit: cover;
  flex-basis: 0;
  flex-grow: 2;
  max-width: 50%;
}

.megatext { /*i swear i make things worse when doing this*/
  margin:50px;
  font-size:30px;
}

.jobbox { /*this is one of the best class names yet*/
  background-color:#7FBD32;
  /* border-radius: 15px; */
  color:white;
}

.jobbox > div {
  color: #093426; /*i feel like there is a better way to do this :/ */
  background-color: white;
  padding: 10px
}
