/*
my color set
1: #F3F7D4 lighest
2: #CDE534 limey green
3: #7FBD32 green
4: #448D76 gas green :P
5: #093426 darkest
**i wish i could set variables..**/

* {
}
body {
  /* font-family: 'Comfortaa',cursive; */
  padding: 10px;
  background: #F3F7D4;
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

/* Header/Blog Title */
.page { /*because putting this on the body somehow causes the title to display next to the page... */

}

.header {
  display: flex; /*YOU CAN'T GET RID OF THIS!*/
  font-family: 'Comfortaa',cursive;
  padding: 30px;
  padding-right: 50px;
  flex-direction: row;
  justify-content: space-between;
  /* background: #CDE534; */
  background-image: url('../images/humanbeings.jpg');
  background-size: cover;
}

.header h1 {
  font-size: 80px;
  color: white;
  /* border: 5px;
  border-color: #7FBD32; */ /*how does this work?*/
}

.header p {
  display: flex;
  font-size: 40px;
  color: white;
  justify-content: center;
}

.header img {
  object-fit: scale-down;
}

.logo {
  justify-content: flex-start;
}

 .title { /* for some reason making this a flex container breaks it :/ */
  /* display: flex;
  flex-direction: column; DO NOT TOUCH*/
  justify-content: center;
  margin: 0px;
}

/* Style the top navigation bar */
.topnav {
  display: flex;
  justify-content: space-between;
  background-color: #093426;
  font-family: 'Comfortaa',cursive;
  margin-bottom: 10px
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #F3F7D4;
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #F3F7D4;
  color: #093426;
}

.leftlinks{
  display: flex;
  justify-content: flex-start;
}
.rightlinks{

}

/*this is for a nav bar if you decide to try that*/
/* .row{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}

.main{
  flex: 70%;
}

.sidebar{
  flex: 30%
}
*/

.widebar {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 10px;
}

.baritem {
  flex-basis: 0;
  flex-grow: 1;
  padding: 10px 30px;
  border: 10px;
  border-radius: 20px;
  border-style: hidden; /*for some reason you HAVE to hide it*/
  border-color: #CDE534;
  border-width: medium;
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: white;
  height: auto;
}

.baritem h1 {
  color: #448D76;
}

.baritem p {
  color: #093426;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #093426;
  margin-top: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
